{% load static %}
<!--
<h1> This is the Homepage of the Practice</h1>

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Resume Practice </title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

</head>
<body>

    <br>
    <div class="conatiner" id="Main">
        <div class="row" id="row-wrapper">
            <div class="col-md-3">

                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="card card-body" id="profile-wrappper">
                    <img id="profile-pic" src="{% static 'images/jubril.jpg' %}" alt="">
                    <hr>
                    <center>
                    <h4> Jubril Osunlana </h4>
                    <p> I'm a Software Developer</p>
                    </center>
                </div>
            
            </div>
 
            <div class="col-md-9"  data-aos="fade-left">
                <div class="card card-body">
                    <h1>Career Summary</h1>
                    <hr>
                    <br>
                    <p> To strive for professional and personal excellence and precision at all times, in all positions and circumstances, to attain distinctions and proficiency. My experience includes Pharmaceutical’s sales and management. Planning, Organizing, Implementing, Monitoring and Evaluation of Health Projects. Transitioned to Information Technology where I’m aspiring to be an expert Software Developer. A reliable and dependable team player, versatile and creative problem solver who is able to take on the management and coordinating duties of any leadership role. An enterprising individual and observant with the ability to pay close attention to details. 
                        Currently looking to join a suitable organization that rewards hard work and offers good opportunities for professional and personal development. 
                        
                    </p>
                    <br> 
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h1>SKILLS</h1>
                    <hr>
                    <li><i class="icofont-rounded-right"></i> <strong>HTML</strong></li>
                    <li><i class="icofont-rounded-right"></i> <strong>CSS</strong></li>
                    <li><i class="icofont-rounded-right"></i> <strong>PYTHON</strong></li>
                    <li><i class="icofont-rounded-right"></i> <strong>DJANGO</strong></li>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h1>SKILLS</h1>
                    <hr>
                    <li><i class="icofont-rounded-right"></i> <strong>Excellent Management and leadership Skills</strong></li>
                    <li><i class="icofont-rounded-right"></i> <strong>Self-focused, target oriented and accountable</strong></li>
                    <li><i class="icofont-rounded-right"></i> <strong>Extensive knowledge of computer applications.</strong></li>
                    <li><i class="icofont-rounded-right"></i> <strong>Excellent communication and interpersonal skills.</strong></li>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">

                    <h1> Professional Experience </h1>
                    <hr>
                    <h4>Backend Developer(Python) </h4>
                    <h5>March - July 2021</h5>
                    <p><em>ZURI & I4G INTERNSHIP </em></p>
                    <ul>
                        <li>Learnt the fundamental concepts of software development through a range
                            of formats: recorded and live video sessions, training modules and chat with 
                            instructors, mentors and peers.</li>
                        <li>Did assignment each week till I got to the project phase where I was in a
                            group of 20 (Designer and Mobile Dev. inclusive), we created an app called 
                            MyIntern App. It’s an app targeted for tertiary level students that want to 
                            work and study to gain experience and money.</li>
                        <li>The App verifies the employer and make sure they are legitimate 
                            business/company, who needs interns for a short period (2 weeks – 
                            3months).</li>
                        <li>Students can register on the app, upload their CV, apply for available job 
                            positions depending on the location, job duration and job category.</li>
                    <hr>
                    <h4>Project Manager</h4>
                    <h5>June 2018 – Sept. 2020</h5>
                    <p><em>TOCHI HEALTH AWARENESS INITIATIVE - (TOHAI)</em></p>
                    <ul>
                        <li>Implemented and Completed the project on Genotype testing in Katsina 
                            State, Jigawa State and Abuja; basically, for people to know their Genotype in 
                            order to mitigate new cases of sickle cell disease.
                        </li>
                    </ul>
                    <hr>
                    <h4>Medical Representative</h4>
                    <h5>Sept. 2017 - April 2018</h5>
                    <p><em>DRUGSTOC E-HUB LIMITED</em></p>
                    <ul>
                        <li>Detailed drugs and pitched sales to Pharmacies and Hospitals.</li>
                        <li>Made a profitable change in the sales and marketing sector of the
                        company.
                        </li>
                        <li>Managed the existing relationship and generate new clients for
                        the company.</li>
                    </ul>
                    <hr>
                    <h4>Assistant Project Manager (Intern)</h4>
                    <h5>July 2016 - May 2017</h5>
                    <p><em>PLANNED PARENTHOOD FEDERATION OF NIGERIA </em></p>
                    <ul>
                        <li>Assisted the Project Manager in the training of 300 Community Health Workers on the services of contraceptive for family support and use of maternal health tools provided for health facilities, to improve services on Family Planning in Abeokuta, Ogun State.</li>
                        <li>Implemented over 1000 people in different communities in Ogun State on HIV/AIDS test screening, supervised the evaluation on impact of the test screening and essence of prevention.</li>
                    </ul>    
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h1>Education</h1>
                    <hr>
                    <h4>PGD in Information Technology</h4>
                    <h5>In-View</h5>
                    <p><em>National Open University of Nigeria, Nigeria.</em></p>
                    <br>
                    <h4>B.Sc Degree in Zoology</h4>
                    <h5>2015</h5>
                    <p><em>Bayero University Kano, kano State, Nigeria.</em></p>
      
                    <hr>
                    <h3 class="resume-title">Certification</h3>
                    <hr>
                    <h4>Leadership &amp; management in Health</h4>
                    <h5>2020</h5>
                    <p><em>University of Washington, Seattle, USA.</em></p>
                            
                    <h4>Introduction to Epidemiolgy for Global Health</h4>
                    <h5>2020</h5>
                    <p><em>University of Washington, Seattle, USA.</em></p>
                            
                    <h4>Diploma in Project Management</h4>
                    <h5>2019</h5>
                    <p><em>Alison Online Study.</em></p>
                    <hr>
                    
                </div>
                
            </div>
        </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h1>Contact</h1>
                <hr>

                <h4>Location:</h4>
                <p>Ibadan, Nigeria</p>
    
                <i class="icofont-envelope"></i>                
                <h4>Email:</h4>
                <p>logon2jubril@gmail.com</p>
                 
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+234 705 969 5272</p>
                
                <i class="icofont-twitter"></i>
                <h4>Twitter:</h4>
                <p>@Phiiniiks</p>
                
                <i class="icofont-instagram"></i>
                <h4>Instagram:</h4>
                <p>@Phiiniiks</p>
                
                <i class="icofont-linkedin"></i>
                <h4>Linkedin:</h4>
                <p>Jubril Osunlana</p>

            </div>    
        </div>
    
        <div class="col-md-6">
            <div class="card card-body">
                {% block content %}
                <h1>Send Us A Message</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Name" name="name">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" name="email">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Message" name="message">
                    </div>

                    <input type="submit" name="Submit">
                </form>
                {% endblock %}
                <hr>
                <center>
                <footer id="footer">
                    <div class="container">
                            <div class="credits">
                                Designed by <a href="">Jubril Osunlana</a>
                                <!-- <img src="{% static 'img.jpeg' %}" alt="" class="img-fluid small-square" width=35px height="35px"> -->
                            </div>
                    </div>
                </footer><!-- End  Footer -->
                </center>
            </div>

        </div>
    </div>
    <br>
</body>
</html>